.button-container {
    display: flex;
    justify-content: space-between;
    width: 99.9%;
    box-sizing: border-box;
}

.left {
    left: 0;
}

.middle {
    left: 50%;
    margin-top: -1.5vh;
}

.right {
    margin-right: 1px;
}