.middle {
    bottom: 0;
    margin-top: -13px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.right {
    margin-right: 1px;
    bottom: 0;
}

.footerBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
  
.leftAndMiddle {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
  
@media (max-width: 430px) {
    .footerBar {
        flex-direction: column;
    }

    .leftAndMiddle {
        flex-direction: column;
    }

    .left {
        order: 2;
    }

    .middle {
        position: relative;
        left: 0px;
        order: 1;
        transform: translateX(0);
    }

    .right {
        position: absolute;
        right: 0;
    }
}