.composeHeader {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top: -25px;
    margin-left: -20px;
    margin-bottom: -15px;
    margin-right: -20px;
    background-color: #3b415b;
}

.popUpText {
    color: #D0BDF4;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    margin-left: 1vw;
}

.subject-input {
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 20px;
    color: #fff; /* Change text color as needed */
    border-bottom: 1px solid #D0BDF4;
    font-size: 13px;
    width: calc(100% - 5px);
    font-family: inherit;
}

.content-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 13px;
    width: calc(100% - 5px);
    font-family: inherit;
    resize: none;
    height: calc(100% - 80px);
}

.rounded-button-container {
    display: flex;
    align-items: center;
}

.rounded-button {
    background-color: #D0BDF4;
    color: #494D5F;
    padding: 5px 10px;
    border: none;
    border-top-left-radius: 20px; /* Rounded top-left corner */
    border-bottom-left-radius: 20px; /* Rounded bottom-left corner */
}

.small-rounded-button {
    background-color: #D0BDF4;
    padding: 0px 2px 0px 0px;
    position: absolute;
    border: none;
    margin-left: 1px;
    border-top-right-radius: 20px; /* Rounded top-right corner */
    border-bottom-right-radius: 20px; /* Rounded bottom-right corner */
}

.drop-down-text {
    color: #494D5F;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}