body {
    font-family: 'Montserrat', sans-serif;
}

.about-header {
    color: #D0BDF4;
    text-align: center;
    font-size: 300%;
    margin-top: 5px;
    margin-bottom: -5px;
}

.about-content {
    margin-left: 15%;
    margin-right: 17.5%;
}

.section-heading {
    color: #D0BDF4;
    margin-bottom: 0;
}

.pure-paragraph {
    color: white;
    margin-bottom: 0;
    margin-top: 1vh;
}

.tech-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-top: 0px;
}

.tech-left {
    display: flex;
}

.tech-right {
    display: flex;
}

.tech-left p, .tech-right p {
    margin: 0;
    margin-top: 1vh;
}

.tech-type {
    color: #A0D2EB;
}

.tech-list {
    color: white;
}

.school-name {
    color: #A0D2EB;
}

.school-location {
    color: white;
}

.date {
    color: #A0D2EB;
}

.school-name, .school-location, .date {
    margin: 0;
    margin-top: 1vh;
}

.school-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

.school-info {
    display: flex;
}

.indent-paragraph {
    color: white;
    margin-left: 5%;
    margin-bottom: 0;
    margin-top: 1vh;
}