body {
    font-family: 'Montserrat', sans-serif;
}

.about-header {
    color: #D0BDF4;
    text-align: center;
    font-size: 300%;
    margin-top: 5px;
    margin-bottom: -5px;
}

.about-content {
    margin-left: 12.5%;
    margin-right: 15%;
}

.section-heading {
    color: #D0BDF4;
    margin: 0;
    margin-top: 2vh;
}

.pure-paragraph {
    color: white;
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
}

.tech-left {
    display: flex;
}

.tech-right {
    display: flex;
    justify-content: flex-end;
}

.tech-left p, .tech-right p {
    margin: 0;
}

.tech-type {
    color: #A0D2EB;
}

.tech-list {
    color: white;
}

.school-name {
    color: #A0D2EB;
}

.school-location {
    color: white;
}

.date {
    color: #A0D2EB;
    display: flex;
    justify-content: flex-end;
}

.school-name p, .school-location p, .date p {
    margin: 0;
    margin-top: 1vh;
}

.school-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

.school-info {
    display: flex;
}

.indent-paragraph {
    color: white;
    margin-left: 5%;
    margin-bottom: 0;
    margin-top: 0;
}

.grid-tech {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
}

.grid-school {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.grid-school p, .grid-school .school-name,
.grid-school .school-location, .grid-school .date {
    margin: 0;
}

@media (max-width: 470px){
    .grid-tech {
        grid-template-columns: 100%;
    }

    .about-header {
        text-align: left;
        font-size: 250%;
        margin-left: 12.5%;
    }
}