.container {
    display: flex;
    align-items: baseline;
}

.text {
    color: #E5EAF5;
    text-transform: none;
    padding-left: 17.5%;
    padding-right: 27.5%;
    margin: 0;
}

.jobTitle {
    color: #D0BDF4;
    text-transform: none;
    padding-left: 15%;
    padding-right: 17.5%;
    margin: 0;
    margin-top: 0;
}

.company {
    color: #D0BDF4;
    text-transform: none;
    padding-left: 15%;
    margin: 0;
    margin-top: 2vh;
}

.location {
    color: #E5EAF5;
    text-transform: none;
    padding-right: 17.5%;
    margin: 0;
}