body {
    font-family: 'Montserrat', sans-serif;
}

.introduction {
    color: #A0D2EB;
    font-size: 30px;
}

.home-name {
    color: #D0BDF4;
    font-size: 82px;
}

.subtitle {
    color: #E5EAF5;
    font-size: 48px;
}

.mini-bio {
    color: #E5EAF5;
    font-size: 18px;
}

.contact-message {
    color: #D0BDF4;
    font-size: 18px;
}

.introduction, .home-name, .subtitle, .mini-bio, .contact-message {
    margin: 0;
    margin-left: 17.5%;
    margin-right: 27.5%;
}

@media (max-width: 400px){
    .introduction, .home-name, .subtitle, .mini-bio, .contact-message {
        margin: 0;
        margin-left: 12.5%;
        margin-right: 15%;
    }
    
    .introduction {
        font-size: 24px;
    }

    .home-name {
        font-size: 54px;
    }

    .subtitle {
        font-size: 28px;
    }

    .mini-bio {
        font-size: 13px;
    }

    .contact-message {
        font-size: 13px;
    }
}