body {
    font-family: 'Montserrat', sans-serif;
}

.introduction {
    color: #A0D2EB;
    font-size: 2vw;
}

.home-name {
    color: #D0BDF4;
    font-size: 6vw;
}

.subtitle {
    color: #E5EAF5;
    font-size: 3.5vw;
}

.mini-bio {
    color: #E5EAF5;
    font-size: 1.25vw;
}

.contact-message {
    color: #D0BDF4;
    font-size: 1.25vw;
}

.introduction, .home-name, .subtitle, .mini-bio, .contact-message {
    margin: 0;
    margin-left: 17.5%;
    margin-right: 27.5%;
}